h1{
    color:#bf120d;
    font-family: Arial;
    text-align:center;
}
.headers{
    color:#e61610;
    font-family: Verdana;
    text-align:center;
    margin:auto;
}
#bang{
    color:#550b09;
    font-family: Garamond;
    text-align:center;
}
body{
    background:grey;
}
img{
    padding-left:25%;
}